/*
Theme Name: Cian
Theme URI: http://www.creabox.es/themes/wp_cian
Description: Your theme to create a mobile app landing page
Author: CreaboxThemes
Author URI: http://www.creabox.es/
Text Domain: cian
Version: 2.0
License: GNU General Public License
License URI: license.txt
Tags: android, animation, app, clean, ios, landing page, mail chimp, minimal, multilingual, parallax, phone, professional, software, windows mobile, wpml
*/

@font-face {
    font-family: 'b_qmrregular';
    src: url('localhost/abaq/wp-content/themes/cian/fonts/b_qmr-webfont.woff2') format('woff2'),
         url('localhost/abaq/wp-content/themes/cian/fonts/b_qmr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}