			@font-face {
				font-family: 'qmr';
				font-style: normal;
				src: url('/abaq/wp-content/uploads/useanyfont/171111060831qmr.eot');
				src: local('qmr'), url('/abaq/wp-content/uploads/useanyfont/171111060831qmr.eot') format('embedded-opentype'), url('/abaq/wp-content/uploads/useanyfont/171111060831qmr.woff') format('woff');
			}
            
            .et_gf_qmr{background:none !important;font-family:qmr;text-indent:0 !important;font-size:25px;}
            
		