			@font-face {
				font-family: 'qmr';
				font-style: normal;
				src: url('/abaq/wp-content/uploads/useanyfont/171111060831qmr.eot');
				src: local('qmr'), url('/abaq/wp-content/uploads/useanyfont/171111060831qmr.eot') format('embedded-opentype'), url('/abaq/wp-content/uploads/useanyfont/171111060831qmr.woff') format('woff');
			}
            
            .qmr{font-family: 'qmr' !important;}
            
						body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
					font-family: 'qmr' !important;
				}
		